.shop {

   // .shop__body

   &__body {
      display: flex;
   }

   // .shop__column

   &__column {
      flex: 0 1 16.666%;

      // .shop__column_b

      &_b {
         flex: 0 1 33.333%;
      }
   }

   // .shop__block

   &__block {
   }

   // .shop__footer

   &__footer {
   }

   // .shop__btn

   &__btn {
   }
}
.block-shop {

   // .block-shop__row

   &__row {
      display: flex;
   }

   // .block-shop__column

   &__column {
      flex: 0 1 50%;
   }

   // .block-shop__item

   &__item {
   }
}
.item {

   // .item__logo

   &__logo {
   }

   // .item__image

   &__image {
   }
}

